In [1]:
ls

 Volume in drive C is SSD
 Volume Serial Number is 4296-F8CF

 Directory of C:\Users\serde\Desktop\data_science_bootcamp2020\Python\matplotlib

08/04/2020  10:46 AM    <DIR>          .
08/04/2020  10:46 AM    <DIR>          ..
08/04/2020  10:46 AM    <DIR>          .ipynb_checkpoints
07/16/2020  11:07 AM           474,837 16 July 2020 notes.ipynb
08/04/2020  10:42 AM           191,873 abalone.data
07/14/2020  02:49 PM               348 AnscombesQuartet.csv
08/03/2020  10:41 AM           579,043 bank.zip
07/14/2020  02:49 PM           367,467 COVID19_line_list_data.csv
07/17/2020  12:00 AM            36,699 matplotlib_example.ipynb
08/01/2020  07:40 PM           112,044 matplotlib_practice.ipynb
08/01/2020  07:19 PM            70,536 NSF_AM_07162020.ipynb
08/01/2020  07:58 PM            56,737 NSF_AM_07202020.ipynb
08/01/2020  09:12 PM            95,917 NSF_AM_07212020.ipynb
08/01/2020  09:48 PM            22,103 NSF_AM_07222020.ipynb
08/02/2020  03:01 PM           135,277 NSF_AM_07232020.ipynb
08/03/2020  01:19 PM            33,722 NSF_AM_07302020.ipynb
08/04/2020  10:45 AM                72 NSF_AM_08042020.ipynb
07/18/2020  11:46 PM                21 README.md
07/14/2020  02:50 PM             1,013 regression-data-set.csv
              16 File(s)      2,177,709 bytes
               3 Dir(s)  313,016,545,280 bytes free

In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.neural_network import MLPClassifier as ANN
from sklearn.metrics import accuracy_score, roc_curve

df = pd.read_csv('abalone.data', header=None)

In [23]:

df.dtypes

0     object
1    float64
2    float64
3    float64
4    float64
5    float64
6    float64
7    float64
8      int64
dtype: object

In [24]:
df.head()

   0      1      2      3       4       5       6      7   8
0  M  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.150  15
1  M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070   7
2  F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210   9
3  M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155  10
4  I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055   7

In [25]:
#function to convert columns into 0,1,2

def convert_rings(x):
    if (x <= 8):
        return 0
    elif (x == 9 | x == 10):
        return 1
    else:
        return 2

In [29]:
#Convert the column rings into your Y array as follows: 
#if i <= 8 put 0
#if i == 9 or 10 put 1
#else put 2

yVal = np.array([convert_rings(x) for x in df[8]])

yVal

array([2, 0, 2, ..., 2, 2, 2])

In [31]:
xVal = pd.get_dummies(df.drop(columns=[8])).to_numpy()
xVal

array([[0.455, 0.365, 0.095, ..., 0.   , 0.   , 1.   ],
       [0.35 , 0.265, 0.09 , ..., 0.   , 0.   , 1.   ],
       [0.53 , 0.42 , 0.135, ..., 1.   , 0.   , 0.   ],
       ...,
       [0.6  , 0.475, 0.205, ..., 0.   , 0.   , 1.   ],
       [0.625, 0.485, 0.15 , ..., 1.   , 0.   , 0.   ],
       [0.71 , 0.555, 0.195, ..., 0.   , 0.   , 1.   ]])